[submodule "cobalt"]
	path = cobalt
	url = https://github.com/cobaltians/Cobalt-Android.git
	branch = dev-nativeBars
[submodule "app/src/main/assets/common"]
	path = app/src/main/assets/common
	url = https://github.com/Cobaltians-Samples/Samples-SideMenu-Web.git
